<div class="card" id="habilidades">

    <div class="p-1">
        <h1>Habilidades</h1>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevahabi" *ngIf="isLogged">
           +
        </button>
    </div>

    <div class="card">

        <div *ngFor="let Habilidad of habili" class="row g-0 p-3">
            <div class="col-md-4 ">
                <h3>{{Habilidad.nombre}}</h3>
                <div class="card-body">
                    <circle-progress [percent]="(Habilidad.porcentaje)" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                        [animationDuration]="300"></circle-progress>
                </div>
                <td *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/edithabi/{{Habilidad.id}}">
                        <i class="bi bi-pencil-fill"></i> EDITAR</button>
                </td>
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(Habilidad.id)">
                        <i class="bi bi-trash-fill"></i> BORRAR</button>
                </td>
            </div>
        </div>

       

    </div>

</div>