<div class="card p-5" id="habilidades">

    <div class="p-1">
        <h1>Habilidades</h1>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevahabi" *ngIf="isLogged">
           +
        </button>
    </div>

    <div class="card">

        <div *ngFor="let Habilidad of habili" class="row g-0 p-3">
            <div class="col-md-4 ">
                <h4>{{Habilidad.nombreHabilidad}}</h4>
                <div class="card-body">
                    <circle-progress [percent]="(Habilidad.porcentajeHabilidad)" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                        [animationDuration]="300"></circle-progress>
                </div>
                <td class="p-2" *ngIf="isLogged">
                    <button class="btn btn-primary"routerLink="/edithabi/{{Habilidad.idHabilidad}}">
                        <i class="fa-solid fa-pencil"></i></button>
                </td>
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(Habilidad.idHabilidad)">
                        <i class="fa-regular fa-trash-can"></i></button>
                </td>
            </div>
        </div>

       

    </div>

</div>