<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreHabilidad">Nombre habilidad</label>
                    <input type="text" class="form-control" id="nombreHabilidad" name="nombreHabilidad" [(ngModel)]="nombreHabilidad" required>
                </div>
                <div class="form-group">
                    <label for="porcentajeHabilidad">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentajeHabilidad" name="porcentajeHabilidad" [(ngModel)]="porcentajeHabilidad" required>
                </div>
                <button class="btn btn-primary">
                    Agregar habilidad
                </button>
            </form>
        </div>
    </div>
</div>
