<div class="card banner">
    <!-- imagen banner -->
    <img src="../../../assets/img/banner.jpg">
    <!-- texto banne -->
    <div class="card-img-overlay text-white p-5">
        <h1 class="textBanner">Richard Lopez</h1>
        <h2 class="textBanner">Desarrollador Full Stack J</h2>
    </div>
</div>

<div class="card-img-overlay col-md-4 imgPerfil">
    <img src="../../../assets/img/imgPerfil.jpg" class="card-img-top rounded-circle imgPerfil" alt="">
<h5 class="card-title">richardlopezbo.ar@gmail.com</h5>

</div>



<div class="card row col-md-4">
    <span>
        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A molestias sint, tempore, nostrum magnam
            voluptatem ipsam debitis, facilis alias explicabo rerum dolorem voluptatibus aliquam odit blanditiis
            illum
            aliquid id soluta!
        </h3>
    </span>
</div>