<div class="p-5 ">

    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

        <div class="mb-3">
            <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" required>
            <label for="nombreUsuario" class="form-label">Usuario</label>
        </div>

        <div class="mb-3">
            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required >
            <label for="password" class="form-label">Password</label>
        </div>

        <button type="submit" class="btn btn-primary">Ingresar</button>

    </form>

</div>